---
import Layout from "../layouts/Layout.astro"
import background from "../images/background.jpeg"

---

<Layout title="Noelani's Portfolio">
    <h1><span>Noelani West</span></h1>
	<main>
	
        <div class="blog-container">

            <div class="blog-post-1">
                <p id = "blog-title">Solo project done and presented!</p>
            </div>

            <div class="blog-post-2">
                <p id = "blog-title">Starting scoping my first solo project...</p>
                <p>Seems easy for now but i expect it to get really difficult</p>
            </div>

        </div>
	</main>

</Layout>

<style>
    .blog-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .blog-post-1 p{
        margin:30px
    }
    .blog-post-1{
        width: 320px;
        border-radius: 8px;
        background-color: rgb(213, 213, 213);
    }

    .blog-post-2 p {
        margin:30px
    }

    .blog-post-2{
        width: 320px;
        border-radius: 8px;
        background-color: rgb(213, 213, 213);
    }

    #blog-title {
        text-align: center;
    }

	main {

		margin: auto;
		padding: 1.5rem;
		
	}
	h1 {
		text-align: center;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	/* .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	} */
</style>













